@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#main-container {
  width: 100%;
  height: 100%;
}

/* Money */
#money-container {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-weight: 400;
  font-size: 29px;
}

#money {
  text-align: right;
  color: #28a745;
}

#money-minus {
  text-align: right;
  color: red;
}

#cash,
#bank,
#plus {
  color: #ededed;
}

#minus {
  color: red;
}

/* Player HUD */

#playerhud {
  display: flex;
  position: absolute;
  bottom: .15vw;
  left: .15vh;
}

/* Vehicle HUD */

.ui-car-fuel,
.ui-car-speed,
.ui-car-street {
  position: absolute;
}

.ui-car-street {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  top: .5vh;
  text-align: center;
  color: #ededed;
}

.ui-car-speed {
  bottom: 5.5vh;
  left: 16vw;
}

.ui-car-fuel {
  left: 17.9vw;
  bottom: 2.5vw;
}

/* Animation */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* Quasar Custom Colors */

/* ID */
.text-id {
  color: #ae47ff
}

/* Voice */
.text-voice {
  color: #868686
}

/* Voice Track */
.text-voice2 {
  color: #868686;
  filter: brightness(0.5)
}

/* Health */
.text-health {
  color: #00b95d
}

/* Health Track */
.text-health2 {
  color: #00b95d;
  filter: brightness(0.5)
}


/* Armor */
.text-armor {
  color: #f41a12;
}

/* Armor Track */
.text-armor2 {
  color: #f41a12;
  filter: brightness(0.5)
}


/* Hunger */
.text-hunger {
  color: #fd7a11
}

/* Hunger Track */
.text-hunger2 {
  color: #fd7a11;
  filter: brightness(0.5)
}


/* Thirst */
.text-thirst {
  color: #0d6fb5
}

/* Thirst Track */
.text-thirst2 {
  color: #0d6fb5;
  filter: brightness(0.5)
}

/* Bleed */
.text-bleed {
  color: #8d040d
}

/* Bleed Track */
.text-bleed2 {
  color: #8d040d;
  filter: brightness(0.5)
}

/* Stress */
.text-stress {
  color: #cb737b
}

/* Stress Track */
.text-stress2 {
  color: #cb737b;
  filter: brightness(0.5)
}

/* Oxygen */
.text-oxygen {
  color: #cb737b;
}

/* Oxygen Track */
.text-oxygen2 {
  color: #d6655d;
  filter: brightness(0.5)
}

/* Nitrous */
.text-nitro {
  color: #0188cb
}

/* Nitrous Track */
.text-nitro2 {
  color: #0188cb;
  filter: brightness(0.5)
}

/* Fuel */
.text-fuel {
  color: #fff4bc
}

/* Fuel Track */
.text-fuel2 {
  color: #fff4bc;
  filter: brightness(0.5);
}

.text-center {
  color: #231f20;
}
